
.title {
  position: absolute;
  width: 50%;
  bottom: 25%;
  left: 29%;
}

.play_butn{
  width: 9%;
  position: absolute;
  left: 47%;
  bottom: 8%;
  cursor: pointer;
}


.replayBtn{
  position: absolute;
  width: 10%;
  left: 48%;
  bottom: 2%;
  cursor: pointer;
}

.replayBtn:active{
  transform:scale(0.8)
}

.mute_btn{
  position: absolute;
  left: 12%;
  bottom: 40%;
  width: 3%;
  z-index: 999;
  cursor: pointer;
}

.mute_btn:active{
  transform:scale(0.8)
}


.scene1_blue_char_pos{
  position: absolute;
  left: 49%;
  bottom: 0%;
  width: 35%;
}

.scene1_yellow_char_pos{
  position: absolute;
  left: 21%;
  bottom: 0%;
  width: 33%;
}

.paint_bucket{
  position: absolute;
    bottom: 0%;
    left: 15%;
    width: 10%;
}