.fruit_bowl{
  position: fixed;
  bottom: 16%;
  left: 28%;
  width: 15%;
  cursor: pointer;
}

.vegi_bowl{
  position: fixed;
  bottom: 16%;
  left: 50.5%;
  width: 15%;
  cursor: pointer;
}


.fruit_bowl:hover{
  filter:drop-shadow(2px 4px 25px yellow)
}

.vegi_bowl:hover{
  filter:drop-shadow(2px 4px 25px yellow)
}

.cutting_board{
  position: fixed;
  bottom: 10.5%;
  left: 38%;
  width: 220px;
}

.move_to_board{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: move2board 2s linear forwards;
}

@keyframes move2board {
  to{ 
    position: fixed;
    bottom: 13%;
    left: 42%;
    margin: 0px;
    z-index: 9;
  }
  
}

.cloud{
  position: fixed;
  bottom: -2%;
  left: 35%;
  margin: 0px;
  z-index: 9;
  width: 20%;
}

.thread{
  width: 100%;
  position: fixed;
  height: 5px;
  background: rgba(0,0,0,0.4);
  bottom: 57.5%;
}

.NameBoard{
  /* position: fixed;
    bottom: 50%;
    width: 15%;
    left: 0%;
    animation: moveBoard 0.8s linear forwards; */
    position: fixed;
    bottom: 35%;
    width: 12%;
    left: 24%;
    animation: moveBoard 0.8s linear forwards;
}

@keyframes moveBoard {
  to{
    left: 18%;
  }
}

.NameBoardNames{
  /* position: fixed;
  bottom: 53%;
  width: 13%;
  left: 19%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  height: 216px;
  animation: showname  1s linear forwards; */
  position: fixed;
  bottom: 36.5%;
  width: 10%;
  left: 19.5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 11px;
  align-items: center;
  height: 185px;
  animation: showname 1s linear forwards;
}

.name_indi{
  /* color: black !important;
    z-index: 10;
    width: 80%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between; */
    color: black !important;
    z-index: 10;
    width: 80%;
    margin: 7px 0px;
    display: flex;
    align-items: center;
}




@keyframes showname {
  from { opacity: 0}
  100%{ opacity:1}
}

.chopped_fruits{
  position: fixed;
  bottom: 14%;
  width: 6.5%;
  left: 40%;
}


/* cupboard */
.pos_name_1{
  position: fixed;
  bottom: 35.5%;
  left: 53.9%;
  color: black !important;
  height: 28px;
  font-size: 15px;
  width: 119px;
  text-align: center;
}


.pos_name_2{
  position: fixed;
  bottom: 35.3%;
  left: 60%;
  color: black !important;
  height: 28px;
  font-size: 15px;
  width: 119px;
  text-align: center;
}

.pos_name_3{
  position: fixed;
  bottom: 24.5%;
  left: 54.2%;
  color: black !important;
  height: 28px;
  font-size: 15px;
  width: 119px;
  text-align: center;
}

.pos_name_4{
  position: fixed;
  bottom: 24.5%;
  left: 60.5%;
  color: black !important;
  height: 28px;
  font-size: 15px;
  width: 119px;
  text-align: center;
}

.pos_name_5{
  position: fixed;
  bottom: 13%;
  left: 54%;
  color: black !important;
  height: 28px;
  font-size: 15px;
  width: 119px;
  text-align: center;
}

.pos_name_6{
  position: fixed;
    bottom: 13%;
    left: 60.9%;
    color: black !important;
    height: 28px;
    font-size: 15px;
    width: 119px;
    text-align: center;
}

.bowl_pos{
  position: fixed;
  bottom: 9%;
  left: 25%;
  width: 11%;
}

.grid_item_display{
  position: fixed;
  bottom: -4%;
  left: 25.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 120px;
  grid-gap: 60px 120px;
  grid-gap: 9px 120px;
  grid-gap: 7px 120px;
  gap: 10px 120px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.test_box{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.name_card_sounf{
  text-align: center;
  background: white;
  color: black !important;
  padding: 5px 15px;
  border-radius: 10px;
  border: 5px solid #00a99d;
  font-weight: bold;
  width: 150px;
  height: 40px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.7);
  /* margin-top: 22%; */
}

.sel_bro{
  width: 150px;
    height: 150px;
    /* background: #9eebff; */
    /* padding: 15px; */
    border-radius: 100%;
}

.sels_bro{
  width: 150px;
  height: 150px;
  position: absolute;
  background: #9eebff;
  border-radius: 100%;
  color: transparent !important;
  top: -99%;
  left: 10.5%;
  z-index: -1;
}

.bowl_pos_0{
  position: absolute;
  left: 25.5%;
  bottom: 17%;
  width: 6%;
}

.bowl_pos_1{
  position: absolute;
  left: 27%;
  bottom: 17%;
  width: 7%;
}

.bowl_pos_2{
  position: absolute;
    left: 30%;
    bottom: 19%;
    width: 6%;
}

.bowl_cover{
  position: absolute;
  bottom: 11%;
  left: 25%;
  width: 11%;
  z-index: 10;
}


.ahha_bowl{
  position: fixed;
  bottom: 16%;
  left: 26.5%;
  width: 13%;
  cursor: pointer;
}