.pos_1{
  position: fixed;
  bottom: 22%;
  width: 50px;
}

.pos_2{
  position: fixed;
  bottom: 16%;
  width: 50px;
}


.basket2{
  position: fixed;
  bottom: 31%;
  left: 54.5%;
  width: 10%;
  z-index: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}


.basket1{
  position: fixed;
  bottom: 31%;
  left: 36%;
  width: 10%;
  z-index: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.fruitsnveg{
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
}

.item_name{
  position: fixed;
  left: 45.1%;
  bottom: 58.2%;
  /* border: 1px solid; */
  width: 186px;
  height: 47px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.basket_name_1{
  position: fixed;
  bottom: 31.3%;
  left: 39%;
  z-index: 99999;
  font-size: 25px;
}

.basket_name_2{
  position: fixed;
  bottom: 31.5%;
  left: 56.5%;
  z-index: 99999;
  font-size: 24.5px;
}