.yellow_lottie{
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: 9;
  width: 100%;
  height: 100%;
}

.paint_pos_1{
  position: absolute;
  /* left: 10%; */
  /* bottom: 0%; */
  left: 0%;
  width: 100%;
  height: 100%;
  top: 5%;
  z-index: 8;
}

.first_box{
  position: absolute;
  bottom: 45%;
  left: 20%;
  width: 15%;
  z-index: 1;
  cursor: pointer;

}

.second_box{
  position: absolute;
    bottom: 45%;
    left: 45%;
    width: 15%;
    z-index: 1;
    cursor: pointer;
}

.third_box{
  position: absolute;
  bottom: 45%;
  left: 70%;
  width: 15%;
  z-index: 1;
  cursor: pointer;
}

.bus_pos{
  position: absolute;
  left: 7%;
  bottom: 0px;
  width: 87%;
}

.bus_box_1{

  position: absolute;
  bottom: 47%;
  left: 19.2%;
  width: 12%;
  z-index: 1;
  cursor: pointer;
}


.bus_box_2{
 
  position: absolute;
  bottom: 47%;
  left: 34.8%;
  width: 12%;
  z-index: 1;
  cursor: pointer;

}


.bus_box_3{
  position: absolute;
  bottom: 47%;
  left: 50.5%;
  width: 12%;
  z-index: 1;
  cursor: pointer;
}

.gar_num_1{
  position: absolute;
  left: 33%;
  bottom: 47%;
  font-size: 900%;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
}

.gar_num_2{
  position: absolute;
    left: 46.5%;
    bottom: 47%;
    font-size: 900%;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
}

.gar_num_3{
  position: absolute;
  left: 61%;
  bottom: 47%;
  font-size: 900%;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
}


.gar_box_1{
  position: absolute;
    bottom: 48%;
    left: 30%;
    width: 11%;
    z-index: 1;
    cursor: pointer;
}

.gar_box_2{
  position: absolute;
    bottom: 45%;
    left: 43%;
    width: 15%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    bottom: 48%;
    width: 11%;
    cursor: pointer;
}

.gar_box_3{
  position: absolute;
  bottom: 48%;
  left: 57.3%;
  width: 11%;
  z-index: 1;
  cursor: pointer;

}


.wood_num_1{
  position: absolute;
  left: 33.5%;
  bottom: 5%;
  font-size: 900%;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
}

.wood_num_2{
  position: absolute;
    left: 46.7%;
    bottom: 5%;
    font-size: 900%;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
    color: black !important;
}

.wood_num_3{
  position: absolute;
  left: 61%;
  bottom: 5%;
  font-size: 900%;
  z-index: 2;
  font-weight: bold;
  cursor: pointer;
  color: black !important;
}

.treeHouse{
  position: absolute;
    width: 26%;
    bottom: 11%;
    left: 34%;
    z-index: 1;
}

.treehouse_branch{
  position: absolute;
  left: 22%;
  width: 30%;
  top: 16%;
  z-index: 9;
}


/* logs */

.tree_log_1{
  position: absolute;
  width: 3%;
  left: 47.5%;
  bottom: 49.7%;
  z-index: 8;
  animation: animation1 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



.tree_log_2{
  position: absolute;
    left: 41%;
    width: 3%;
    bottom: 61%;
    z-index: 8;
    transform: rotate(87deg) scale(1.45);
    animation: animation2 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.tree_log_3{
  position: absolute;
  left: 41%;
  width: 2%;
  bottom: 70%;
  z-index: 8;
  transform: rotate(87deg) scale(1.2);
  animation: animation3 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tree_log_4{
  position: absolute;
  left: 37%;
  width: 2%;
  bottom: 65%;
  z-index: 8;
  transform: rotate(-133deg) scale(2.3);
  animation: animation4 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.tree_log_5{
  position: absolute;
  left: 47%;
  width: 2%;
  bottom: 65%;
  z-index: 8;
  transform: rotate(133deg) scale(2.3);
  animation: animation5 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}




@keyframes animation1 {
  from{
    opacity: 0;
    transform:scale(3)
  }
  to{
    opacity: 1;
    transform:scale(1)
  }
}

@keyframes animation2 {
  from{
    opacity: 0;
    transform:rotate(87deg) scale(3)
  }
  to{
    opacity: 1;
    transform:rotate(87deg) scale(1.2)
  }
}


@keyframes animation3 {
  from{
    opacity: 0;
    transform:rotate(87deg) scale(3)
  }
  to{
    opacity: 1;
    transform: rotate(87deg) scale(1.2);
  }
}

@keyframes animation4 {
  from{
    opacity: 0;
    transform:rotate(-133deg) scale(3)
  }
  to{
    opacity: 1;
    transform:rotate(-133deg) scale(2.3)
  }
}

@keyframes animation5 {
  from{
    opacity: 0;
    transform:rotate(133deg) scale(3)
  }
  to{
    opacity: 1;
    transform: rotate(133deg) scale(2.3)
  }
}


.progress_head{
  position: absolute;
  left: 69%;
  width: 20%;
  /* height: 50%; */
  top: 13%;
}

.leaves{
  display: flex;
  width: 30%;
  height: 40%;
  position: absolute;
  left: 11%;
  top: 47%;
}

.star{
  margin: 0px 5%;
}


@media all and (display-mode: fullscreen) {
  .progress_head {
    top: 0%;
  }
}