.fruit_bowl{
  position: fixed;
  bottom: 9%;
  left: 20%;
  width: 30%;
  cursor: pointer;
}

.vegi_bowl{
  position: fixed;
    bottom: 5%;
    left: 55%;
    width: 30%;
    cursor: pointer;
}


.fruit_bowl:hover{
  filter:drop-shadow(2px 4px 25px yellow)
}

.vegi_bowl:hover{
  filter:drop-shadow(2px 4px 25px yellow)
}

.cutting_board{
  position: fixed;
  bottom: 16%;
  left: 35%;
  width: 250px;
}

.move_to_board{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: move2board 2s linear forwards;
}

@keyframes move2board {
  to{ 
    position: fixed;
    bottom: 19%;
    left: 40%;
    margin: 0px;
    z-index: 9;
  }
  
}

.cloud{
  position: fixed;
    bottom: 14%;
    left: 37%;
    margin: 0px;
    z-index: 9;
}

.NameBoard{
  position: fixed;
    bottom: 50%;
    width: 15%;
    left: 0%;
    animation: moveBoard 1.5s linear forwards;
}

@keyframes moveBoard {
  to{
    left: 18%;
  }
}

.NameBoardNames{
  position: fixed;
  bottom: 53%;
  width: 13%;
  left: 19%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  align-items: center;
  height: 216px;
  animation-delay: 7s;
  animation: showname 1s linear forwards;
}

.name_indi{
  /* color: black !important;
    z-index: 10;
    width: 80%;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between; */
    color: black !important;
    z-index: 10;
    width: 80%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}




@keyframes showname {
  from { opacity: 0}
  100%{ opacity:1}
}