.pos_1{
  position: fixed;
  bottom: 22%;
  width: 50px;
}

.pos_2{
  position: fixed;
  bottom: 16%;
  width: 50px;
}

.pos_1:hover{
  filter:drop-shadow(2px 2px 25px yellow);
}

.pos_2:hover{
  filter:drop-shadow(2px 2px 25px yellow);
}


.basket2{
  position: fixed;
  bottom: 31%;
  left: 54.5%;
  width: 10%;
  z-index: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}


.basket1{
  position: fixed;
  bottom: 31%;
  left: 36%;
  width: 10%;
  z-index: 0;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.fruitsnveg{
  -webkit-user-select: auto;
  -webkit-user-drag: auto;
}


.item_name{
  position: fixed;
  left: 45.1%;
  bottom: 58.2%;
  /* border: 1px solid; */
  width: 186px;
  height: 47px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.basket_name_1{
  position: fixed;
  bottom: 31.3%;
  left: 39%;
  z-index: 99999;
  font-size: 25px;
  color: black !important;
}

.basket_name_2{
  position: fixed;
  bottom: 31.5%;
  left: 56.5%;
  z-index: 99999;
  font-size: 24.5px; 
  color: black !important;
}

.drop_container_1{
  position: fixed;
  width: 11%;
  height: 15%;
  /* border: 1px solid white; */
  bottom: 31%;
  left: 35.35%;
  z-index: 1000000;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  color:transparent !important;
}

.drop_container_2{
  position: fixed;
  width: 11%;
  height: 15%;
  bottom: 31%;
  left: 53.9%;
  z-index: 1000000;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  color:transparent !important;
}

.useless_board{
  position: fixed;
    bottom: 1%;
    left: 26.2%;
    z-index: 1000;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    width: 48.7%;
}


.basket_fruits{
  position: fixed;
  bottom: 35.5%;
  left: 36.5%;
  /* border: 1px solid; */
  width: 164px;
  display: flex;
  overflow: hidden;
  height: 100px;
}


.basket_vegies{
  position: fixed;
  bottom: 33.8%;
  left: 55.5%;
  /* border: 1px solid; */
  width: 148px;
  display: flex;
  overflow: hidden;
  height: 100px;
}

.fruits_stall{
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
}

.kitchen_stall{
  position: fixed;
  width: 100%;
  left: 0%;
  height: 100%;
  bottom: 0.2%;
}